{% extends 'basic.html' %}
{% load static %}

{% block body %}
<h1 class="text-center" style="color:rgb(10, 130, 199);"></i>Contact Me</h1>
<div class="container">
  <form class="" method='post'>
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input name='name' class="form-control" placeholder="Your Name" aria-label="Your Name">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input name='email' class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea name='message' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="mt-2">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>
</div>



{% endblock %}