{% extends 'basic.html' %}
{% load static %}
{% block title %}

{% endblock title %}
{% block body %}
<!doctype html>
<html lang="en">

<head>

<body>

    <body style="background-color:rgb(255, 255, 255);"></body>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col-md-50">
                <div class="text-center">
                    <div class="widget">
                        <div class="profile-card">
                            <div class="card-header">
                                <div class="header-avatar">
                                    <img src="https://scontent.fdac8-1.fna.fbcdn.net/v/t1.15752-9/277071852_554699352754736_9097016412142055587_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeGBWnG_6IQR-Sp1Rao_V943pJDJ0D9vY-CkkMnQP29j4Oc1Um0shZt6Z0Y3WlSmoF3kBQQTLRoF3znvxH5ZTIiB&_nc_ohc=7Y7llHdT9cAAX9zbekB&_nc_ht=scontent.fdac8-1.fna&oh=03_AVISCs4l9DNdsFCmPFQEhJFbUmpb092a2eJIyMD-Q-bAeg&oe=62658021"
                                        width="450" height="500" alt="Tasnim">
                                </div>
                                <div class="header-name">
                                    <h4><a href="https://www.facebook.com/tasnimjahan00.tonni/">Tasnim Jahan Tonni</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body bg-info">
                                <div class="body-description">
                                    Assalamu Alaikum, This is Tasnim Jahan Tonni. I live in Savar, Dhaka. And I was born
                                    in
                                    Savar. My home district is Naogaon. I live with my family. In my family with my
                                    parents and my
                                    elder sister. My father's name is MD. Azahar Ali. He is an army retired person.
                                    My mother's name is Nargis begum Jharna. She is a housewife. I have an elder sister.
                                    She is a doctor. My educational life started at a school in Savar Cantonment Public
                                    School
                                    and College. I completed my SSC and HSC from here. Now I am currently studying CSE
                                    at Daffodil
                                    International University.

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>


</body>
</body>

</html>


{% endblock body %}