{% extends 'basic.html' %}
{% load static %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img
          src="https://scontent.fdac8-1.fna.fbcdn.net/v/t1.15752-9/275749712_690559262137687_2459311269390026669_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeFTDdHA7iLbTcpPV_Z5vBOhuFecvHIShp-4V5y8chKGn2l4ww_NEWvdcj8COy2g4sP0MYNUJZs_2DRxaVYahQ8W&_nc_ohc=vecTMZDMX3EAX_u0ZzW&_nc_ht=scontent.fdac8-1.fna&oh=03_AVJy4ZKxZSaaY-Kw5hri3i9y58IYzK3e2DFLL5efqyMSJg&oe=6262B111"
          width="400" height="400" alt="...">

        <div class="card-body">
          <h5 class="card-title">Student Details Management System</h5>

          <a href="https://sites.google.com/view/studentdetailsmanager/home" class="btn btn-info">Go to site</a>
        </div>
      </div>
    </div>
    <div class="col order-5">
      <div class="card">
        <img
          src="https://scontent.fdac8-1.fna.fbcdn.net/v/t1.15752-9/274263517_689747582267715_6838886903522390425_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeFzbowF6iL0HwRjpQDInRBImyfKdoyLq7CbJ8p2jIursIxvu9G4FyxJETVzTunGK-D2IzSC6TSTzw5F81qBKsU0&_nc_ohc=Q2weP5XBO0kAX8YauOR&_nc_oc=AQkrMDstQyxTqkw-yfhL5dUFXrBQXo6wH6lHDFtsHxsxVuLmwp6dc2yFA-Q3wRtKzSI&_nc_ht=scontent.fdac8-1.fna&oh=03_AVJR0_P_Sq1OdNmkI0IF9be2phkdfc-wQk5JYJldZf-1EQ&oe=62633B14"
          width="400" height="400" alt="...">

        <div class="card-body">
          <h5 class="card-title">Restaurant Billing Management System</h5>

          <a href="https://sites.google.com/view/restaurant-billing-management/home" class="btn btn-info">Go to site</a>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}